.dialog-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.dialog-box {
  background-color: rgb(84, 192, 105);
  padding: 20px;
  border-radius: 8px;
}
